
<html ng-app="app">
  <head>
    <title>My Angular App</title>
    <script type="text/javascript" src="js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <div ng-controller="MoviesController as movies">

      <div class="likes">
        <p> Movies I like</p>
        <ul>
          <li ng-repeat="like in movies.likesList">
            <p> {{ like.title }} </p>
            <a href="" ng-click="movies.unlike($index);">Unlike!</a>
          </li>
        </ul>
      </div>

      <ul>
        <li ng-repeat="movie in movies.favorites">
          <p> {{ movie.title }}</p>
          <a href="" ng-click="movies.addToLikes(movie);">Like this movie!</a>
        </li>
      </ul>
    </div>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/MoviesController.js"></script>
  </body>
</html>